		<div id="showMore" class="center col-lg-0 col-0 order-lg-2 order-1">
			<button class="toggle mb-3" onclick="showMore()" >
				<h3>Read more</h3>
				<div>
					<i class="fas fa-chevron-down fa-2x"></i>
				</div>
			</button>
		</div>

		<div style="display:none;" class="center col-lg-0 col-0 order-lg-2 order-1" id="showLess">
			<button class="toggle mb-3" onclick="showLess()">
				<h3>Read Less</h3>
				<div>
					<i class="fas fa-chevron-up fa-2x"></i>
				</div>
			</button>
		</div>
	</div>
</section>