<hr>
    <div class="container">
        <section class="jumbotron mainImage2 mt-5">
            <h1 class="display-4 mt-5">The Trials & Tribulations of Inclusive PE – Is it really that hard?</h1>
        </section>
    </div>

    <section id="post" class="container">
            <div class="row">
                <div class="col-lg-12 col-12 mt-3">
                    <p><strong>March 31, 2018</strong></p>
                    <p>
                        I’m going to kick off my blogs with a pretty serious topic. “Go hard or go home”, right?!
                    </p>
                    <p>
                        I started thinking about this when sat on the bus back to the hospital after observing a couple of children in their PE lessons. The children both have a diagnosis of diplegic Cerebral Palsy, GMFCS 3.
                    </p>
                    <p>
                        Both their lessons differed but were equally as eye opening. Unfortunately, I’ve not had that many experiences of great inclusion so this is a calling for all PE teachers, Physio’s and anybody else to leave a comment and let me know of their experiences. At the end of this post, Ive included some resources which I like to give out to schools. If you have any useful resources, please post them in the comments at the end of this blog and hopefully we can all learn and utilise them in our future practice!
                    </p>
                    <p>
                        For the sake of this description Child 1 is Debbie and Child 2 is Fiona (I’m currently knee deep into the early episodes of Shameless so they’re the first names which came to mind)!
                    </p>
                    <p>
                        Debbie’s Year 10 class were learning about different warm-up exercises with the plan to then which teach them to the Year 7 class the following week. One of the warm-up exercises was the classic “River Bank” game which for those who don’t know is effectively a speed reaction game of jumping forwards and backwards (if you want to know more, Google it). Least to say, this was far from ideal for Debbie who can’t jump!
                    </p>
                    <p>
                        The next game was “Giant 3-in-a-row” where the class was split into teams of two and they had to race to the cones which were laid out in a 3×3 grid to put down either a red bib or green bib. To try and make this more inclusive for Debbie, she was given a 10 second head start. This left her opponent in the unfortunate situation of losing or having to sprint past the only physically disabled girl in their year to win the game. You’ll be relieved to know that her Mum brought her up well and she allowed Debbie to win
                    <span id="dots">...</span>
                    </p>
                    <span id="more">
                    <p>
                        The final game was a timed competition where one half of the class had to turn as many cones as possible upside down and the other half of the class had to turn them the right way up. At the end of the allocated time, the team with the most amount of cones turned in their direction won the game. I can promise you that this was honestly one of the most agonising 5 minutes of my life watching Debbie prod at the cone with her stick in an attempt to turn it over. In fairness to the PE teacher, she stood by and encouraged Debbie … as she continued to struggle.
                    </p>
                    <p>
                        So bear your thoughts in mind, while we move on to our Fiona.
                    </p>
                    <p>
                        Fiona’s Year 8 class were playing football (a personal favourite of mine)! To start off, each student was asked to collect a ball from the bag which was probably just equally as difficult as anything else Fiona was going to have to do for the remainder of the PE lesson – great start! The class were then split into 2 where they had to tackle each other and retrieve as many footballs as possible into their own half. This was very awkward for Fiona to do without giving every other girl a great big bruise on their shins as the were clattered by Fiona’s metal frame. The only saving grace was that it didn’t seem like anybody in Fiona’s class were actually that enthusiastic about this exercise either!  
                    </p>
                    <p>
                        After their warm-up activity, the class were asked to split into groups of 4 before completing passing drills. Now this is when I want you all to take a minute and think about when YOU were asked to split up into smaller groups in school. Let me guess, you all immediately made eye contact with your best friends before sprinting into your solitary group and huddling together like penguins in the artic. More often that not, the children with disabilities aren’t always in the “popular clique”. This is usually reserved for the sporty kids, usually led by the one who knows the PE teachers by their first names! After the PE teacher finally ushered Fiona into a group they cracked on with the exercise. Fiona struggled with controlling a moving ball – a skill a lot of people who don’t play football regularly stubble with! Again, in fairness to the PE teacher, he tried to demonstrate to Fiona how to do this properly but that’s like Beth Tweddle showing me how to do a summersault and land in the splits position. Just because I’ve been shown it 2 or 3 times, doesn’t then mean I will actually now have the necessary skills to be able to do it. They did a couple more mundane passing drills before <em>finally</em> wrapping up the lesson.
                    </p>
                    <p>
                        If your initial thoughts were anything like mine, I felt very disappointed in the lack of variety and inclusion of these 2 girls in their PE lesson. This is when I thought “Surely it’s not that hard!?” … then I reflected upon this and yes, it’s not that hard for me to think of different strategies and adaptations but the PE teachers do not work with children who have physical impairments every single working day! In fact, potentially some PE teachers have not had to work with the disabled population at all until somebody starts in Year 7 with a disability.
                    </p>
                    <p>
                        I spoke to a couple of PE teachers about their understanding of physical disabilities and inclusion, they said that they had received maybe 1 or 2 lessons (if they are lucky) on this topic. That’s not a lot at all considering the vast spectrum of disabilities and the complexity of some of the children. So this is where I felt my role existed – <strong>creativity in education!</strong>
                    </p>
                    <p>
                        Here are some really simple ideas Debbie and Fiona’s PE teacher could use in the future... 
                    </p>
                    <p>
                        <strong>Split the class into SMALLER groups</strong> – There seemed to be a unhealthy obsession about splitting the group in half. By splitting the class into 4, 6 or 8 different groups gives the child more opportunities to get involved, they can communicate easier with their classmates and overall the chances of them being excluded are reduced!
                    </p>
                    <p>
                        Smaller groups also reduces the chance of “abled versus disabled” going head-to-head in front of the entire class!
                    </p>
                    <p>
                        <strong>Bend the rules</strong> – Don’t worry, FIFA are not going to penalise you for not following their rules. This is a PE lesson, not the World Cup Final!
                    </p>
                    <p>
                        Instead of having to make Fiona tackle an opponent to win the ball, why can’t Fiona touch an opponent and that will equally win her the ball. Inclusive PE is literally what it says on the tin – adapting the lesson so that Fiona is able to join in!
                    </p>
                    <p>
                        <strong>Utilise the assistants!</strong> – There was a couple of occasions where this would have drastically improved Fiona’s and Debbie’s experiences. Instead of Debbie prodding at a cone for 5 minutes, a teaching assistant could do the turning of the cone and Debbie could simply tap it with her stick. Likewise, when Fiona struggled like mad to get the ball out of the bag, an assistant can easily help with accessing equipment.
                    </p>
                    <p>
                        Likewise, the teaching assistant could have had a quiet word with 1 or 2 of the more ‘sensible’ children in the class and asked that they integrate Fiona into their group when breaking up into smaller groups. This would have spared Fiona of that social anxiety!
                    </p>
                    <p>
                        <strong>Improving a disabled child’s physical health is NOT the primary aim of inclusive PE</strong> – After speaking to several PE teachers about ways to adapt PE, they are concerned that the adapted method would not challenge their balance, coordination or whatever other skill it may be. Trust me, I spend days writing up programme after programme for these children to make sure their physical abilities are continually challenged. That is why they have a Physio Exercise Programme after all!
                    </p>
                    <p>
                        So these are just are few ideas to work on. I know they’re not the answer but the idea that adapting PE can be really simple is what I want PE teachers to believe.
                    </p>
                    <p>
                        As a Physiotherapist, I felt I was going into schools and giving them advice on how to adapt a specific PE lesson to meet a specific child’s needs. My time would definitely be better spent running a workshop for all PE teachers without any specific child present. This would give the PE teachers the ability to provide inclusive PE every year, irrelevant of the child’s disability and irrelevant of the sport.
                    </p>
                    <p>
                        As the old Chinese proverb goes <em>“Give a Man a Fish, and You Feed Him for a Day. Teach a Man To Fish, and You Feed Him for a Lifetime.”</em>
                    </p>
                    <p>
                        I’ve put up a couple of resources which give a few good ideas below...
                    </p>
                    <p>
                        This <a href="http://dera.ioe.ac.uk/13805/1/physicaleducationpe.pdf">PDF</a> contains a good audit form to make sure that you have considered ALL different aspects of the environment.
                    </p>
                    <p>
                        This <a href="http://www.musculardystrophyuk.org/wp-content/uploads/2016/09/Chpt11-Physical-Education.pdf">PDF</a> is originally aimed at adapting PE for children with muscular dystrophies however a lot of the suggestions are definitely transferable across different disabilities.
                    </p>
                    <p>
                        I also ALWAYS give schools the links to the Sainsbury’s training courses. You can check that out <a href="https://www.inclusivepe.org.uk/">here</a>.
                    </p>
                    <p>
                        I believe if there are enough numbers who are interested, they’d even set up a workshop at a location of your choosing so there truly is no excuse!
                    </p>