<div id="aboutMe" class="col-lg-4 col-0 order-lg-1 order-2 mt-3 text-justify-xs">
        <h3>About Me</h3>
        <p>I’m originally from Wigan and moved down to Nottingham to study Physiotherapy before graduating in 2013. I was then officially a qualified physio and I no longer had to get my notes countersigned or introduce myself as “Student Physiotherapist” – which I mistakenly did a couple of times even after graduating! </p>

        <p>I have always worked within the NHS at various sites across the UK before finding myself down in London and securing my first paediatric position in 2016.</p>

        <p>Within the 3 years of working with adults I had an 8 month “sabbatical” (between jobs) because I just couldn’t handle the stress and pressures of Adult it (verb: to adult).</p>

        <p>I spent 8 months travelling with my girlfriend. Travelling is definitely a big interest of mine although it is becoming a lot less frequent thanks to the temptation to spend all your disposable income living in London! Besides travelling, I have recently succumbed to peer pressure and joined the cycling community. Climbing the French Alps and blistering sprint finishes are all long-term aspirations; my main priority at the moment is avoiding any more traffic accidents. Again, thanks to living in London.</p>

        <p>Before we get side-tracked telling you about other irrelevant information, we better get back to business … Physio.</p>

        <p>I guess EVERYONE has been asked the following at some point in their lives…</p>

        <p><em>“What do you want to be when you’re older?”</em></p>

        <p>When I was asked that question at 10 years old I was definitely sure I wanted to play football for Manchester United. However those dreams appeared to have slipped away since the likes of Marcus Rashford began scoring in Manchester derby games.</p>

        <p>So since then I began exploring other options and generally just doing things which I enjoyed and took an interest in. That was the reason I ended up within physiotherapy and that was also the reason I ended up within paediatrics. So I guess I’ll continue along that path as it’s worked out pretty well so far.</p>

        <p>I know this is a brief “about me” but I guess you’ll find out more and see what my current interests are by the blogs and articles I post in the future.</p>
      </div>