<section id="post" class="container">
  <div class="row">
      <div class="col-lg-8 col-12 mt-3">
          <h3 class="pb-3 mb-3 font-italic border-bottom">
          Latest Post
          </h3>

          <h2 class="">Congenital Muscular Torticollis: Don’t let it be a pain in your neck!</h2>

          <p class="">January 1, 2014</p>

          <p>I decided to write a blog on torticollis and I’m going to be honest with you, I didn’t choose this subject because I find it riveting and exciting. What actually happened was that I was tasked with updating the torticollis pathway at work and I thought I couldn’t let all that reading around the subject go to waste. Hopefully this will be a more fun, alternative of finding out about the current up-to-date literature surrounding torticollis, instead of reading article after article only to realise the conclusion remains the same … “more evidence needed”.</p>
        
          <p>Within my day to day clinical practice, I have dealt with many diagnosed or “suspected” diagnoses of congenital muscular torticollis (CMT).</p>

          <blockquote class="blockquote text-right">
            <p>Note: It’s important that we refer to it as CMT because I don’t want you taking this same advice to your friends who slept funny on their pillow last night and (thanks to Google) have self-diagnosed themselves with torticollis.</p>
          </blockquote>

          <p>The babies I see in clinic vary in age at initial assessments, this can be anywhere from as young as 9 days to as old as 9 months. They vary in every other aspect too, including their size, ethnicity, birth history andeven their parents are different … who knew!?</p>

          <p>If I was to give two children with CMT the exact same management, I guarantee the length of their treatment will vary. So, what I wanted to explore was how best, as Physiotherapist’s, can we …</p>

          <ul>
            <li>Predict the prognosis of children with CMT by exploring what factors contribute to a more “severe” case and …</li>
            <li>Implement new (maybe exciting), evidence-based ideas when assessing or treating a baby with CMT.</li>
          </ul>

          <p>So, let’s get going ….</p>

          <h2>Predicting prognosis</h2>

          <p>(<em>WARNING: predicting anything can be very dangerous when an anxious parent is nearby so make sure you choose your words carefully!)</em></p>

          <p>I used to be quietly confident that the cause of torticollis in all the babies who were referred to me was due to a unilateral tightness of their sternocleidomastoid (SCM). It wasn’t until I began chatting with my senior colleagues did I even consider possible different aetiologies, some of which require more than physio!</p>

          <p>Over 20 years ago, Cooperman stated that 1 in 5 children have a NON-MUSCULAR cause of torticollis. This figure was broken down in a study by Ballock and Song in 1996 where they retrospectively analysed 288 children who were treated for torticollis over a 10 year period. They found that 18.4% of these had a non-muscular aetiology. Out of that 18.4%, these were the main causes …</p>

          <ul>
            <li>Kippel-Fiel (30%)</li>
            <li>Underlying neurological disorders (51%)</li>
            <li>Ocular disorders (23%)</li>
            <li>Brachial plexus palsy (17%)</li>
            <li>Central nervous system lesion (11%)</li>
          </ul>
          
          <p>One of the other causes for torticollis which wasn’t mentioned in the study yet appears fairly regularly in past literature is gastroesophageal reflux disease (GERD). In severe cases of GERD it can present as CMT, often alongside uncontrollable dystonic movements of both the babies head/neck and their trunk. It is thought that these movements are the baby’s natural response to what is a very painful and uncomfortable experience.<span id="dots">..</span></p>

          <span id="more">
          <p>Visual deficits have also been known to lead to presentations similar to that of CMT. The physiotherapy input is unlikely to change and passive stretches is still going to be involved, but no amount of passive stretches is going to improve an infants’ vision, I promise you. If you do suspect a non-muscular cause for the child’s torticollis, this is when it’s important to rally your multidisciplinary team to rule in or out your suspicions.</p>

          <p>That aside, the most common cause remains CMT but it’s just important to make sure that we are including questions about how the baby is feeding, any concerns of reflux, worries over the baby’s vision and, I know this goes without saying but a thorough comprehensive birth history.</p>

          <p>Once we have definitive confirmation of CMT, will they all take the same time to recover? Do we give exactly the same advice to everybaby with CMT? Can we be certain that all CMT cases will resolve with physio input alone?</p>

          <p>Thankfully Kaplan (2013) created a wonderful visual to help with the classification of CMT – don’t we all love a good visual! I would 100% recommend having a little look at this as it considers many varying factors which could contribute the severity of CMT (Kaplan’s reference is included in the reference list at the end of this post).</p>

          <p>It is important to consider Kaplan’s classification diagram alongside other variables but it’s a useful tool to provide reassurance to parents, explain the importance of regular intervention and to give a bit of a clue to the Physiotherapist on the approximate length of input the baby may require.</p>

          <p>In the same article by Kaplan, her team outlined “the main players” in predicting the prognosis. Unfortunately, not all of which are within the Physio’s control.</p>

          <ul>
            <li>Age of initiation of treatment</li>
            <li>Intensity of intervention</li>
            <li>Presence of comorbidities</li>
            <li>Rate of change</li>
            <li>Adherence with home programme</li>
          </ul>

          <p>A recent study by He et al., in 2017 looked into the efficacy of manual stretching. They compared 2 groups, the first group completed the stretches 50 times a day and the second group completed the stretches 100 times a day and the winner was (surprisingly) 100 times a day! 100 times a day may seem completely ridiculous and unachievable but I sometimes use this study when parents ask me “How many times should I do these stretches?”, basically the more you stretch, the better.</p>

          <p>I take a lot of time to explain to parents their new child’s condition so they understand exactly what is causing this issue. An overall 24 hour management of torticollis is going to be a lot more successful than a simple stretching programme which is completed once a day. Parents need to take on board positioning/carrying advice and environmental adaptions, as well as regular stretches. Seeing the Physiotherapist once every 2 or 3 weeks unfortunately just isn’t going to be enough.</p>

          <p>After exploring many issues affecting the prognosis of CMT, I think we can agree that it’s not always a clear-cut formula but I hope by taking on the above points, it will at least help clinically identify which babies may need to be monitored just that little bit more closely.</p>

          <p>OK, now let’s move onto the second half of this post …</p>

          <h3>New things</h3>

          <p><em>(evidence-based …. obviously)</em></p>
          
          <p>After reading through a few journals, I was relieved to find out that the team I work with are completing relevant and recommended assessments, as well as providing the best evidence-based treatments … butI did come across 2 new things (they were new to me anyway) which I’ve explored a little further…</p>

          <h3>(1) Microcurrent Treatment</h3>

          <p>I’ve got to be honest, I’m not a massive fan of electrotherapy. I’m definitely more along the active involvement – “let’s get those muscles moving” – approach. Electrotherapy has always felt very fiddly and I guess it has never really had super strong evidence for the conditions I’ve come across up to date. That said, I do know of clinicians who do use electrotherapy and I remember learning about it (I may have now forgotten a lot of it, but I definitely remember learning about it).</p>

          <p>Heidenreich’s team in 2018 provided us with a very comprehensive update of the best practice for managing CMT. This paper followed on from Kaplan’s research in 2013 and provided us with a “5 year update” of what new things have occurred in the world of CMT.</p>

          <p>One of the things mentioned when discussing the treatment of CMT was the use of Microcurrent and it referred specifically to a paper by Kwon and Park (2014). The paper was a randomised placebo controlled trial and showed that all children receiving Microcurrent therapy (in combination with ultrasound and therapeutic exercises) had a statistically significant higher range of passive cervical rotation at 1, 2 and 3 months post-treatment, compared with those who didn’t receive Microcurrent therapy.</p>

          <p>There were a few weaknesses of the study, like the small sample size, only including children less than 3 months of age and ultimately, the practicality of trying to complete Microcurrent therapy (3 x 30minute/week) on a baby.</p>

          <p>I was sceptical of the outcome so I tweeted the electro-physio himself, Mr Tim Watson (<a href="https://twitter.com/electrotim?lang=en">@ElectroTim</a> if anyone wants to follow him on Twitter) and this is the response I got …</p>

          <blockquote class="blockquote">
            <p>“The 2013 trial does show some benefits and I am aware of several clinicians who use it – with seemingly good effect. Not much evidence for a “better” modality – certainly not in acute cases – so far as I am aware. If it were a patient of mine, I would certainly give it a try”</p>
          </blockquote>

          <p>If you are confident with electrotherapy and particularly the use of ultrasound and microcurrent, then yes, this may be worth considering. However, as all of you will know, our time seeing babies within the NHS is often precious, therefore let’s make sure we get the basics right first, particularly if you find yourself in front of a set of super anxious parents. Education and reassurance will likely be a better decision!</p>

          <h3>(2) Toticollis Overall Assessment (TOA)</h3>

          <p>The first time I heard about the TOA was in an article written by Lee et al., in 2017. The TOA was described to be an assessment which creates a single scaled score from taking the following into consideration; rotation and lateral flexion range of movement, craniofacial asymmetry, sternocleidomastoid muscle quality, head tilt, and subjective assessments by parents. Unfortunately, I have not been able to get hold of a copy of this assessment form but I think the idea of it is great!</p>

          <p>If we had an outcome measure which takes into account many different aspects of CMT then, as Physiotherapist’s, we would be able to monitor improvements in CMT more closely. It is essential that we have some form of objective measure and this is often particularly difficult when a lot of our assessment is guided by our observations (e.g. the way their head looks and the degree of head tilt). I think the fact the TOA also took into consideration the parents subjective assessments is a great idea. Watch this space, maybe this might be something new in the near future!</p>

          <p>When writing this blog, I spoke to a couple of my wonderful friends who work in the same field and they gave some ideas of treatments either themselves of their colleagues have had clinical success with. These included taping, soft collars, Tot Collars (used more regularly in the USA) and bilateral sternocleidomastoid strengthening. Even though the treatments may not be evidence-based, they may still be worth considering as potential adjuncts to therapy, particularly in more persistent CMT cases.</p>

          <p>I hope you enjoyed the read and maybe torticollis may not be such a pain in the neck anymore (Sorry …. I had to get it the pun in again)!</p>

          <h3>References</h3>

          <ol>
            <li>Ballock, R.T. and Song, K.M., 1996. The prevalence of nonmuscular causes of torticollis in children. Journal of Pediatric Orthopaedics, 16(4), pp.500-504.</li>
            <li>Daniel R. Cooperman (1997) The Differential Diagnosis of Torticollis in Children, Physical & Occupational Therapy In Pediatrics, 17:2, 1-11, DOI: 10.1080/J006v17n02_01</li>
            <li>He, L., Yan, X., Li, J., Guan, B., Ma, L., Chen, Y., Mai, J. and Xu, K., 2017. Comparison of 2 Dosages of Stretching Treatment in Infants with Congenital Muscular Torticollis: A Randomized Trial. American journal of physical medicine & rehabilitation, 96(5), pp.333-340.</li>
            <li>Heidenreich, E., Johnson, R. and Sargent, B., 2018. Informing the Update to the Physical Therapy Management of Congenital Muscular Torticollis Evidence-Based Clinical Practice Guideline. Pediatric Physical Therapy, 30(3), pp.164-175.</li>
            <li>Kaplan, S.L., Coulter, C. and Fetters, L., 2013. Physical therapy management of congenital muscular torticollis: an evidence-based clinical practice guideline: from the Section on Pediatrics of the American Physical Therapy Association. Pediatric Physical Therapy, 25(4), pp.348-394.</li>
            <li>Kwon, D.R. and Park, G.Y., 2014. Efficacy of microcurrent therapy in infants with congenital muscular torticollis involving the entire sternocleidomastoid muscle: a randomized placebo-controlled trial. Clinical rehabilitation, 28(10), pp.983-991.</li>
            <li>Lee, K., Chung, E. and Lee, B.H., 2017. A comparison of outcomes of asymmetry in infants with congenital muscular torticollis according to age upon starting treatment.Journal of physical therapy science, 29(3), pp.543-547</li>
          </ol>