<hr>
    <div class="container">
        <section class="jumbotron mainImage3 mt-5">
            <h1 class="display-4 mt-5">#ThisKidCAN</h1>
        </section>
    </div>

    <section id="post" class="container">
        <div class="row">
            <div class="col-lg-12 col-12 mt-3">
    		    <p><strong>August 20, 2018</strong></p>
				<p>
					Yes, this is only my second blog in about 4 months. I genuinely don’t know how people who throw out bi-weekly blogs manage 					to do the other mundane life admin! It has been a busy few months after moving jobs from Harrow to Islington, a 6 day 					solo cycle across Italy and enjoying as much of the sunshine as humanly possible! Anyway, I hope you enjoy having a little read of this...
				</p>
			<div class="row">
				<div class="col-lg-8 col-12">
					<p>
					#ThisKidCAN was a free, disabled sports event which was organised by myself and two amazing colleagues during my time spent working within the borough of Harrow. I’m not sure whether we have interfered with copyright infringements from the “This Girl Can” campaign but I’m sure they’ll forgive us for all the blood, sweat and tears we poured into this incredible event.
					</p>
					<p>
					I want to tell you all about the main reasons behind why we decided to put all our efforts into organising this event along with what the end goal and purpose of doing this was. I’ll also provide a list of all the different organisations and sporting groups which got involved and helped to make #ThisKidCAN a success.
					</p>
					<p>
					For all those people reading this who also work within the NHS, I think you’ll all agree that successfully completing any “project work” or “service development” quite often seems like an absolute miracle. Particularly when you’re tasked with auditing referrals … not exactly the most exhilarating of service development tasks!
				<span id="dots">...</span>
				</p>
				</div>
				<div class="col-lg-4 col-12 text-center mb-3">
					<img src="https://bambinophysio.files.wordpress.com/2018/08/2017-12-22-photo-00002963-1.jpg?w=212&h=300">	
				</div>
			</div>
				<p>
					For all those people reading this who also work within the NHS, I think you’ll all agree that successfully completing any “project work” or “service development” quite often seems like an absolute miracle. Particularly when you’re tasked with auditing referrals … not exactly the most exhilarating of service development tasks!
				<span id="dots">...</span>
				</p>
				<span id="more">
				<p>
					The difference with organising #ThisKidCAN compared to other projects was that all 3 of our team who were involved in it were sooo enthusiastic and passionate which made the whole process seem a hell of a lot easier!
				</p>
				<p>
					At the time of organising #ThisKidCAN, part of my job role included managing a caseload of children with long-term physical disabilities some of which were very mild didn’t actually require regular input within school (we’re talking GMFCS I and II). This group of children were the initial catalyst which got us thinking about #ThisKidCAN. My colleague and I found ourselves getting fed up of hearing our own voices asking children to “make sure you complete your stretches” so we tried to think of alternative ways by which they could self-manage their own disability.
				</p>
				<p>
					Quite frankly, I don’t actually blame them for not stretching. Let’s face it, if you were a teenager, independent with everything and had no specific, reoccurring complaints of pain … would you sit and stretch just because some physio said so? … I guess a lot of physio’s already know the low compliance rates in completing exercise programmes in both children AND adult populations.
				</p>
				<p>
					So we thought about trying to improve their engagement differently by getting them participating in sports so they get to keep their physio’s happy while actually enjoying themselves with their mates!
				</p>
				<p>
					The other big reason for running #ThisKidCAN was to simply raise the profile of what adapted and inclusive sports/activities there were available locally. After the event, we hoped to create a leaflet for children’s parents so in the future when a parent says something like .. “my disabled child can’t join in” or “there’s nothing which my disabled child can do” or “everything is too far away” we will be able to simply give them a leaflet with a list of all the events going on.
				</p>
				<p>
					One of our team managed to create a great little video for #ThisKidCan, have a watch...
					<div class="text-center">
						<video controls class="mw-50" style="width:400px">  <source src="https://videos.files.wordpress.com/t50eUZ8a/0ce587df-9eb3-4454-84c0-90d5341d2d16_hd.mp4" type="video/mp4"></video>
					</div>
				</p>

				<p>
					Now back to fun literature, Shield and Sinnott (2016) completed a qualitative article on identifying the perceived barriers and facilitators to participation in physical activity for children with disability. #ThisKidCAN aimed to remove a proportion of these barriers. Parents reported difficulty finding suitable activities, felt fearful about their disabled child being included and struggled to find people with appropriate experience. #ThisKidCAN definitely removed this. Some of the other facilitators #ThisKidCAN also helped to improve were positive attitudes towards disability, financial assistance in payments and meeting similar children.
				</p>
				<p>
					I do agree with parents when they report having difficulty trying to find adapted and inclusive sports or activities. Even though the profile of disabled sports has improved ten fold over the past decade (thanks to the likes of Jamie Peacock and the other 2012 Paralympic superstars) we are actually still so far behind in ensuring appropriate adaptations are available for physically disabled people, particularly in the amateur setting. #ThisKidCAN was a baby step in tackling this problem … similarly to how switching your lights off is a baby step in saving the world from self-destruction ……. kind of?!
				</p>
				<p>
					The actual event organisation was a long and tedious task. For anyone hoping to organise something similar in their boroughs I’d love to give you some quick solution of how to do so but unfortunately persistence is key. Call, call and call again. We tried to get representation from all different activities from Yoga through to Martial Arts (there’s a list at the end with everyone who attended).
				</p>
				<p>
					A few big things which did help with the organisation were the generous donations and images/posters which we used to advertise. This is where a few people get a big shout out …
				</p>
				<p>
					<a href="http://readycharity.org/">Ready </a> are a charity who provide grants to disabled children and sporting organisations to help fund the equipment and pay for attendance. They kindly provided a donation to pay for the venue of #ThisKidCAN.
				</p>
				<p>
					<a href="https://www.lnwh.nhs.uk/about-us/getting-involved/nph-league-of-friends/">The League of Friends </a>are a voluntary organisation based within Northwick Park Hospital who fundraise and then donate their raised funds back into the hospital to help pay for additional equipment. Again, they generously provided a donation to fund the refreshments, entertainment and running of #ThisKidCAN.
				</p>
				<p>
					<strong>Sarah Wakefield</strong>
				</p>
				<p>
					Well … she’s my sister … BUT she made our amazing posters and helped make the advertisement of #ThisKidCAN possible and advertising the event turned out to be one of the biggest tasks which was made a whole lot easier. So thanks bro!
				</p>
				<p>
					Overall, #ThisKidCAN was a huge success. The kids loved it, the parents loved it and I think everyone got something to take away with them! We had over 50 children attend, as well as other healthcare professionals who came to find out more information about what was going on. It would be great if every borough had a similar event which was run regularly, at least they should all have an up-to-date version of what’s currently running in their local areas.
				</p>
				<p>
					Here’s a list of who came and their relevant websites...
				</p>
				<ul>
					<li><a href="http://www.quest88.com">Quest 88</a></li>
					<li><a href="http://www.whizz-kidz.org.uk">Whizz Kids</a></li>
					<li><a href="http://www.disabilitysportscoach.co.uk"> Disability Sports Coach</a></li>
					<li><a href="http://www.cpsport.org">CP Sport</a></li>
					<li><a href="http://www.specialyoga.org.uk">Special Yoga</a></li>
					<li><a href="http://www.aspireleisurecentre.org.uk">Wheelchair basketball</a></li>
					<li><a href="http://www.warrenparkgolfingdreams.org.uk">Golf</a></li>
					<li><a href="http://www.kingfisherschoolofswimming.co.uk">Swimming</a></li>
				</ul>
				<p>
					Just to finally finish off … the local APCP London Network are running events to help raise the profile and improve the provision of disabled sports. It would be a dream to have an online database of what disabled sports are going on across the UK! If you’re working as Paediatric Physio or have a disabled child and know what’s going on, please leave a comment and help build this network!
				</p>
				<p>
					There’s no real take home message from this blog really but I’m quite passionate about it and felt the need to preach a little. Maybe the next blog will be a little bit more technical/clinical … who knows?!
				</p>
				
